body{
    background-color: yellow;
    padding:100px;
}
.team{
    height:200px;
    width:40%;
    background-color: white;
    padding:100px;
}
.team{
    height: 200px;
    width: 40%;
    background-color: white;
    padding: 20px;
    margin-right: 20px;
    float: left;
}
button{
    width: 500px;
    font-size: 32px;
    padding: 100px;
    margin-top: 50px;
    background-color: blue;
    color: white;
}
.winner{
    background-color: green;
    color: white;
}